<!doctype html>
<html>
  <head>
    <title>Books in <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%></h1>
    <h2>Here are the books that are currently under £20:</h2>
    <ul>
        <% for(book in availableBooks){ %>
        <li><%= availableBooks[book].name + ", £" + availableBooks[book].price %></li>
        <% } %>
    </ul>
  </body>
</html>

